:root {
  --main-bg-dark: #0b0e13;
  --color-light: #f1f1f1;
  --color-lemon: #cbfe1c;
}

.text-gray {
  color: #858c99;
}

.navbar-brand {
  font-size: 18px !important;
}

.my-nav-item {
  font-size: 14px !important;
}

nav .my-button {
  font-size: 14px !important;
}

.activeplayers .top-txt {
  font-size: 11px !important;
}
.activeplayers .bot-txt {
  font-size: 16px !important;
}

#header .container .my-button {
  font-size: 12px !important;
}

#header .hero-desc {
  font-size: 12px !important;
}

#header .hero-title {
  font-size: 32px !important;
}

body {
  font: var(--main-txt-font-chakra);
}

.text-light {
  color: var(--color-light) !important;
}

.text-lemon {
  color: var(--color-lemon) !important;
}

header {
  min-height: 75px;
  z-index: 99;
}

.border-gray {
  border-color: rgba(255, 255, 255, 10%) !important;
}

.dark-bg {
  background-color: var(--main-bg-dark);
}

.text-font-chakra {
  font-family: "Chakra Petch", sans-serif;
}

.text-font-days {
  font-family: "Days One", sans-serif;
}

.top-75p {
  top: 75px;
}

nav.my-navbar .navbar-nav a {
  color: var(--color-light);
  transition: all 0.4s;
}

nav.my-navbar .navbar-nav a:hover {
  color: var(--color-lemon);
}

main {
  margin-top: 75px;
}

nav.my-navbar .my-button {
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  background-color: var(--color-lemon);
  color: var(--main-bg-dark);
}

nav.my-navbar .my-button::before {
  content: "";
  width: 20%;
  height: 100%;
  position: absolute;
  left: -30%;
  top: 0;
  transition: left 0.5s;
  z-index: 51;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(2px);
  transform: skewX(-10deg);
}

nav.my-navbar .my-button:hover::before {
  left: 110%;
}
nav.my-navbar .my-button:hover {
  background-color: #a4ce1a;
}

nav.my-navbar button.navbar-toggler i {
  transition: color 0.4s;
}

nav.my-navbar button.navbar-toggler:hover i {
  color: var(--color-lemon);
}

.nav-link.active {
  color: var(--color-lemon) !important;
}

#header {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  height: 105dvh;
}

#header .row .image {
  height: 350px;
  border: 4px solid transparent;
  background-image: linear-gradient(to right, #cbfe1d, #09df72);
  background-origin: border-box;
  background-clip: border-box;
}

.activeplayers {
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: fit-content;
  border-radius: 10px;
  bottom: -5%;
  left: -5%;
}

.activeplayers .top-txt {
  color: gray;
}

#header .container .my-button {
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  background-color: var(--color-lemon);
  color: var(--main-bg-dark);
  border: 2px solid var(--color-lemon) !important;
}

#header .container .my-button::before {
  content: "";
  width: 20%;
  height: 100%;
  position: absolute;
  left: -30%;
  top: 0;
  transition: left 0.5s;
  z-index: 51;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(2px);
  transform: skewX(-10deg);
}

#header .container .my-button:hover::before {
  left: 110%;
}
#header .container .my-button:hover {
  background-color: #a4ce1a;
}

#header .hero-desc {
  color: rgba(255, 255, 255, 0.7);
}

#our-games .my-slider .carousel-item .row {
  height: 390px;
}

#our-games .my-slider .carousel-item .row .game-image img {
  object-fit: cover !important;
  height: 100%;
  transition: all 0.5s;
}

#our-games .my-slider .carousel-item .row .game-image:hover img {
  transform: scale(110%);
}

#our-games .my-slider .carousel-item .row .game-image .tags {
  top: -15%;
  left: 10px;
  transition: all 0.5s;
}

#our-games .my-slider .carousel-item .row .game-image {
  transition: all 0.5s;
  border: 3px solid transparent;
}

#our-games .my-slider .carousel-item .row .game-image:hover {
  border: 3px solid var(--color-lemon);
}

#our-games .my-slider .carousel-item .row .game-image:hover .foreground {
  top: 0%;
}

#our-games
  .my-slider
  .carousel-item
  .row
  .game-image
  .foreground
  .game-image-desc {
  color: black;
  font-size: 16px;
  padding: 0 0 10px 10px;
}

#our-games .my-slider .carousel-item .row .game-image .foreground {
  background-image: linear-gradient(
    to top,
    var(--color-lemon),
    transparent 40%
  );
  top: 100%;
  left: 0;
  transition: all 0.5s;
}

#our-games .my-slider .carousel-item .row .game-image:hover .tags {
  top: 10px;
}

#our-games .my-slider .carousel-item .row .game-image .tags .tag span {
  font-size: 11px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  padding: 2px 5px;
}

#our-games .our-games {
  font-size: 12px;
  color: var(--color-lemon);
  position: relative;
}

#our-games .latest-games {
  font-size: 26px;
}

#our-games .our-games::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 80px;
  top: calc(50% - 1.5px);
  left: calc(50% - 130px);
  background-image: linear-gradient(to right, black, var(--color-lemon));
}
#our-games .our-games::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 80px;
  top: calc(50% - 1.5px);
  right: calc(50% - 130px);
  background-image: linear-gradient(to left, black, var(--color-lemon));
}

.my-carousel-btn {
  width: 45px;
  height: 45px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.5s;
}

.my-carousel-btn:hover {
  color: var(--color-lemon);
  border: 2px solid var(--color-lemon);
}

#our-games .my-button {
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  background-color: transparent;
  color: var(--main-bg-dark);
  border: 2px solid var(--color-lemon) !important;
  font-size: 12px;
}

#our-games .my-button::before {
  content: "";
  width: 20%;
  height: 100%;
  position: absolute;
  left: -30%;
  top: 0;
  transition: left 0.5s;
  z-index: 51;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(2px);
  transform: skewX(-10deg);
}

#our-games .my-button:hover::before {
  left: 110%;
}
#our-games .my-button:hover {
  background-color: #a4ce1a !important;
  color: black !important;
}

#what-we-do .we-do {
  font-size: 12px;
  color: var(--color-lemon);
  position: relative;
}

#what-we-do .more-games {
  font-size: 26px;
}

#what-we-do .we-do::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 80px;
  top: calc(50% - 1.5px);
  left: calc(50% - 130px);
  background-image: linear-gradient(to right, black, var(--color-lemon));
}
#what-we-do .we-do::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 80px;
  top: calc(50% - 1.5px);
  right: calc(50% - 130px);
  background-image: linear-gradient(to left, black, var(--color-lemon));
}

#what-we-do .container .row .item-col .item {
  min-width: 200px;
  min-height: 200px;
  background-color: #1a1a1a;
  border: 1px solid #1e2939;
  overflow: hidden;
  transition: all 0.5s;
}

#what-we-do .container .row .image-col .image {
  min-width: 200px;
  min-height: 200px;
  border: 1px solid #1e2939;
  overflow: hidden;
  background-image: url(../images/what-we-do-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#what-we-do .container .row .image-col .image-2 {
  min-width: 200px;
  min-height: 200px;
  border: 1px solid #1e2939;
  overflow: hidden;
  background-image: url(../images/what-we-do-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#what-we-do .container .row .item-col .item .icon {
  background-color: #1e2939;
  border-radius: 10px;
  padding: 12px;
  transition: all 0.5s;
}

#what-we-do .container .row .item-col .item .icon .icon-text {
  font-size: 16px;
}

#what-we-do .container .row .item-col .item::before {
  content: "";
  position: absolute;
  top: -50px;
  left: -50px;
  width: 30px;
  height: 30px;
  background-image: linear-gradient(
    135deg,
    var(--color-lemon) 50%,
    #1a1a1a 50%
  );
  transition: all 0.5s;
}
#what-we-do .container .row .item-col .item::after {
  content: "";
  position: absolute;
  bottom: -50px;
  right: -50px;
  width: 30px;
  height: 30px;
  background-image: linear-gradient(
    -45deg,
    var(--color-lemon) 50%,
    #1a1a1a 50%
  );
  transition: all 0.5s;
}

#what-we-do .container .row .item-col .item:hover {
  border: 1px solid var(--color-lemon);
}

#what-we-do .container .row .item-col .item:hover .icon {
  background-color: var(--color-lemon);
}
#what-we-do .container .row .item-col .item:hover .icon i {
  color: var(--main-bg-dark) !important;
}

#what-we-do .container .row .item-col .item:hover::before {
  top: 20px;
  left: 20px;
}
#what-we-do .container .row .item-col .item:hover::after {
  bottom: 20px;
  right: 20px;
}

#what-we-do::after {
  content: "";
  bottom: 0px;
  left: 50%;
  height: 2px;
  width: 80%;
  max-width: 600px;
  z-index: 60;
  background: linear-gradient(
    90deg,
    transparent,
    var(--color-lemon) 20%,
    var(--color-lemon) 80%,
    transparent
  );
  box-shadow:
    0 0 10px var(--color-lemon),
    0 0 20px #cbfe1c4d;
  position: absolute;
  transform: translate(-50%);
}

#sponsors {
  background-color: var(--main-bg-dark);
  background-image: radial-gradient(
    var(--color-lemon),
    var(--main-bg-dark) 60%
  );
  backdrop-filter: blur(10px);
}

@keyframes train {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

#sponsors .sponsor-list .sponsor {
  height: 95px;
  width: 95px;
  object-fit: cover;
  flex-shrink: 0;
  flex-grow: 0;
}

#sponsors .sponsor-list {
  width: fit-content;
  height: 95px;
  position: relative;
  animation-name: train;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-direction: normal;
  animation-timing-function: linear;
}
#sponsors .sponsor-list.reverse {
  animation-direction: reverse;
}

#sponsors .sponsor-list .sponsor img {
  width: 100%;
  object-fit: cover;
}

#our-team .our-team {
  font-size: 14px;
  color: var(--color-lemon);
  position: relative;
}

#our-team .best-Team {
  font-size: 42px;
}

#our-team .our-team::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 80px;
  top: calc(50% - 1.5px);
  left: calc(50% - 130px);
  background-image: linear-gradient(to right, black, var(--color-lemon));
}
#our-team .our-team::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 80px;
  top: calc(50% - 1.5px);
  right: calc(50% - 130px);
  background-image: linear-gradient(to left, black, var(--color-lemon));
}

#our-team .header p {
  font-size: 18px;
}

#our-team .container .row figure {
  height: 280px;
  filter: grayscale(100%);
  transition: all 0.5s;
}
#our-team .container .row figure::before {
  content: "";
  top: 0;
  left: 0;
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
}

#our-team .container .row figure:hover {
  filter: none;
}
#our-team .container .row figure:hover::before {
  top: -100%;
}

#our-team .container .row figure figcaption {
  bottom: 20px;
  left: 20px;
}
#our-team .container .row figure figcaption .name {
  color: white;
  font-size: 18px;
  transition: all 0.5s;
}
#our-team .container .row figure figcaption .game {
  color: var(--color-lemon);
  font-size: 12px;
  transition: all 0.5s;
}
#our-team .container .row figure figcaption .title {
  color: #99a1af;
  font-size: 11px;
  transition: all 0.5s;
}
#our-team .container .row figure .nickname {
  transform: rotate(90deg);
  bottom: 40px;
  right: 0px;
  font-size: 16px;
  color: var(--color-lemon);
}

#contact .contact-us {
  font-size: 14px;
  color: var(--color-lemon);
  position: relative;
}

#contact .in-touch {
  font-size: 42px;
}

#contact .contact-us::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 80px;
  top: calc(50% - 1.5px);
  left: calc(50% - 130px);
  background-image: linear-gradient(to right, black, var(--color-lemon));
}
#contact .contact-us::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 80px;
  top: calc(50% - 1.5px);
  right: calc(50% - 130px);
  background-image: linear-gradient(to left, black, var(--color-lemon));
}

#contact .header p {
  font-size: 18px;
}

#contact {
  background: linear-gradient(to right, #0e131f, #0b0f14);
}

#contact .container .content .card {
  background-color: #1e2939;
  border-radius: 15px;
}
#contact .container .content .card.join {
  background: linear-gradient(to right, #cbfe1e, #0bdf72);
  border-radius: 15px;
}

#contact .container .content .card .logo {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: var(--color-lemon);
  color: var(--main-bg-dark);
}

#contact .container .content .card .info h3 {
  font-size: 18px;
}
#contact .container .content .card .info span {
  font-size: 14px;
}
#contact .container .content .card .info.join h3 {
  color: var(--main-bg-dark);
  font-size: 21px;
}
#contact .container .content .card .info.join span {
  color: var(--main-bg-dark);
  font-size: 14px;
}

#contact .container .content .card .logos .logo {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: var(--main-bg-dark);
  transition: all 0.4s;
}

#contact .container .content .card .logos .logo:hover {
  background-color: #2e3d1a;
}

#contact .container h3.messageheader {
  font-size: 21px;
}

#contact .container .form {
  background-color: #1e2939;

  label {
    font-size: 12px;
    font-weight: 700;
    color: var(--color-light);
  }
  input,
  select,
  textarea {
    border: 1px solid #4a5565;
    background-color: #364153;
  }
  input::placeholder,
  textarea::placeholder {
    color: #8e959f;
    font-size: 14px;
    font-weight: 400;
    font-family: var(--main-txt-font-chakra);
  }

  select {
    color: var(--color-light);
  }

  textarea {
    resize: none;
  }
  .form-check label {
    color: #8e959f;
  }

  .my-button {
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
    background-color: var(--color-lemon);
    color: var(--main-bg-dark);
    border: 2px solid var(--color-lemon) !important;
  }

  .my-button::before {
    content: "";
    width: 20%;
    height: 100%;
    position: absolute;
    left: -30%;
    top: 0;
    transition: left 0.5s;
    z-index: 51;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(2px);
    transform: skewX(-10deg);
  }

  .my-button:hover::before {
    left: 110%;
  }
  .my-button:hover {
    background-color: #a4ce1a;
  }
}

#contact .container .footer {
  span.info-t {
    font-size: 21px;
  }
  span.info-b {
    font-size: 12px;
  }
}

.company {
  font-size: 18px !important;
  text-decoration: none;
}

footer .container {
  .content {
    .company {
      font-size: 18px;
    }
    p {
      font-size: 14px;
    }
  }
  .logos .logo i {
    font-size: 16px;
  }
}

footer .container .row .links {
  h4 {
    font-size: 18px;
  }
  a {
    font-size: 14px;
    transition: all 0.4s;
  }
  a:hover {
    color: var(--color-lemon);
  }
}

footer .row.copyrights {
  p {
    font-size: 14px;
  }
  a {
    font-size: 14px;
    transition: all 0.4s;
  }
  a:hover {
    color: var(--color-lemon);
  }
}

/*sm*/
@media screen and (min-width: 576px) {
  #our-games .my-button {
    font-size: 15px;
  }
  #our-team .container .row figure {
    height: 300px;
  }
}
/*md*/
@media screen and (min-width: 768px) {
  .navbar-brand {
    font-size: 20px !important;
  }

  .my-nav-item {
    font-size: 16px !important;
  }

  nav .my-button {
    font-size: 16px !important;
  }

  .activeplayers .top-txt {
    font-size: 12px !important;
  }
  .activeplayers .bot-txt {
    font-size: 20px !important;
  }

  #header .container .my-button {
    font-size: 16px !important;
  }

  #header .hero-desc {
    font-size: 16px !important;
  }

  #header .hero-title {
    font-size: 48px !important;
  }

  #our-games
    .my-slider
    .carousel-item
    .row
    .game-image
    .foreground
    .game-image-desc {
    font-size: 16px;
  }

  #our-games .our-games {
    font-size: 15px;
  }

  #our-games .latest-games {
    font-size: 45px;
  }

  #our-games .my-button {
    font-size: 15px;
  }
  #our-games .my-button {
    font-size: 18px;
  }

  #what-we-do .container .row .item-col .item .icon .icon-text {
    font-size: 17px;
  }

  #what-we-do .we-do {
    font-size: 13px;
  }

  #what-we-do .more-games {
    font-size: 34px;
  }
  #our-team .our-team {
    font-size: 13px;
  }

  #our-team .best-Team {
    font-size: 34px;
  }

  #our-team .container .row figure {
    height: 320px;
  }
  #our-team .header p {
    font-size: 19px;
  }

  #our-team .container .row figure figcaption .name {
    font-size: 20px;
  }
  #our-team .container .row figure figcaption .game {
    font-size: 14px;
  }
  #our-team .container .row figure figcaption .title {
    font-size: 12px;
  }
  #our-team .container .row figure .nickname {
    font-size: 18px;
  }

  #contact .contact-us {
    font-size: 15px;
  }

  #contact .in-touch {
    font-size: 45px;
  }

  #contact .header p {
    font-size: 19px;
  }

  #contact .container .content .card .info h3 {
    font-size: 20px;
  }
  #contact .container .content .card .info span {
    font-size: 16px;
  }
  #contact .container .content .card .info.join h3 {
    font-size: 24px;
  }
  #contact .container .content .card .info.join span {
    font-size: 16px;
  }

  #contact .container h3.messageheader {
    font-size: 24px;
  }

  #contact .container .form {
    label {
      font-size: 14px;
    }
    input::placeholder,
    textarea::placeholder {
      font-size: 16px;
    }
  }
  #contact .container .footer {
    span.info-t {
      font-size: 24px;
    }
    span.info-b {
      font-size: 14px;
    }
  }
  .company {
    font-size: 20px !important;
  }

  footer .container {
    p {
      font-size: 16px;
    }
    .logos .logo i {
      font-size: 18px;
    }
  }

  footer .container .row .links {
    h4 {
      font-size: 20px;
    }
    a {
      font-size: 16px;
    }
  }

  footer .row.copyrights {
    p {
      font-size: 16px;
    }
    a {
      font-size: 16px;
    }
  }
}
/*lg*/
@media screen and (min-width: 992px) {
  #header .hero-title {
    font-size: 60px !important;
  }

  #our-games
    .my-slider
    .carousel-item
    .row
    .game-image
    .foreground
    .game-image-desc {
    font-size: 18px;
  }

  #our-games .our-games {
    font-size: 16px;
  }

  #our-games .latest-games {
    font-size: 48px;
  }

  #our-games .my-button {
    font-size: 18px;
    width: fit-content;
    padding: 5px 15px;
  }

  #what-we-do .container .row .item-col .item .icon .icon-text {
    font-size: 20px;
  }

  #what-we-do .we-do {
    font-size: 16px;
  }

  #what-we-do .best-games {
    font-size: 48px;
  }
  #our-team .our-team {
    font-size: 16px;
  }

  #our-team .best-Team {
    font-size: 48px;
  }

  #our-team .header p {
    font-size: 20;
  }

  #contact .contact-us {
    font-size: 16px;
  }

  #contact .in-touch {
    font-size: 48px;
  }

  #contact .header p {
    font-size: 20px;
  }
}
